/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/pixelator Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/


// Global default params, used in configs
params {

    // Input options
    input                   = null
    input_basedir           = null

    // Preqc options
    trim_front              = 0
    trim_tail               = 0
    max_length              = null
    min_length              = null
    max_n_bases             = 0
    avg_qual                = 20
    dedup                   = false
    remove_polyg            = false

    // adapterqc options
    adapterqc_mismatches    = 0.1

    // demux options
    demux_mismatches        = 0.1
    demux_min_length        = null

    // collapse options
    markers_ignore          = null
    algorithm               = 'adjacency'
    max_neighbours          = 60
    collapse_mismatches     = 2
    collapse_min_count      = 2

    // graph options
    multiplet_recovery                   = true
    graph_max_refinement_recursion_depth = 5
    graph_max_edges_to_split             = 5
    graph_min_count                      = 2

    // annotate options
    min_size                = null
    max_size                = null
    dynamic_filter          = 'min'
    aggregate_calling       = true

    // analysis options
    compute_polarization               = true
    compute_colocalization             = true
    use_full_bipartite                 = false
    polarization_transformation        = "log1p"
    polarization_min_marker_count      = 5
    polarization_n_permutations        = 50
    colocalization_transformation      = "rate-diff"
    colocalization_neighbourhood_size  = 1
    colocalization_n_permutations      = 50
    colocalization_min_region_count    = 5
    colocalization_min_marker_count    = 5

    // Output options
    save_amplicon_reads                = false
    save_qc_passed_reads               = false
    save_qc_failed_reads               = false
    save_demux_processed_reads         = false
    save_demux_failed_reads            = false
    save_collapsed_reads               = false
    save_edgelist                      = false
    save_annotate_dataset              = false
    save_raw_component_metrics         = false
    save_analysis_dataset              = false
    save_all                           = false

    // layout options
    no_node_marker_counts              = false
    layout_algorithm                   = "wpmds_3d"

    // skip options
    skip_report                        = false
    skip_analysis                      = false
    skip_layout                        = false

    // Main pixelator container override
    pixelator_container                = null

    // Boilerplate options
    outdir                       = null
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/pixelator/'
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null

    // Schema validation default options
    validate_params            = true
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'


def container_env_options = [
    "MPLCONFIGDIR": '/tmp/.config/matplotlib',
    "NUMBA_CACHE_DIR": "/tmp/.numba_cache",
]

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled           = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        conda.channels          = ['conda-forge', 'bioconda']
        apptainer.enabled       = false
    }
    mamba {
        conda.enabled           = true
        conda.useMamba          = true
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
        env                    = container_env_options
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        env                    = container_env_options
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        podman.runOptions      = '--userns=keep-id'
        env                    = container_env_options
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        env                     = container_env_options
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
        env                     = container_env_options
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        env                    = container_env_options
    }
    wave {
        apptainer.ociAutoPull   = true
        singularity.ociAutoPull = true
        wave.enabled            = true
        wave.freeze             = true
        wave.strategy           = 'conda,container'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
        process {
            resourceLimits = [
                memory: 8.GB,
                cpus  : 4,
                time  : 1.h
            ]
        }
    }
    test                       { includeConfig 'conf/test.config'                       }
    test_full                  { includeConfig 'conf/test_full.config'                  }
    test_panel_v2              { includeConfig 'conf/test_panel_v2.config'              }
    test_scsp_v1_immunology_v1 { includeConfig 'conf/test_scsp_v1_immunology_v1.config' }
}

// Load nf-core custom profiles from different Institutions
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Load nf-core/pixelator custom profiles from different institutions.
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? "${params.custom_config_base}/pipeline/pixelator.config" : "/dev/null"

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'quay.io'
docker.registry       = 'quay.io'
podman.registry       = 'quay.io'
singularity.registry  = 'quay.io'
charliecloud.registry = 'quay.io'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = """\
bash

set -e # Exit if a tool returns a non-zero status/exit code
set -u # Treat unset variables and parameters as an error
set -o pipefail # Returns the status of the last command to exit with a non-zero status or zero if all successfully execute
set -C # No clobber - prevent output redirection from overwriting files.
"""

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'nf-core/pixelator'
    // Keep both author and contributors fields for compatibility with Nextflow versions < 24.10.0
    author          = """Pixelgen Technologies AB""" // The author field is deprecated from Nextflow version 24.10.0, use contributors instead
    contributors    = [
        [
            name: 'Florian De Temmerman',
            affiliation: 'Pixelgen Technologies AB',
            email: 'florian.detemmerman@pixelgen.com',
            github: '@fbdtemme',
            contribution: ["author", "maintainer"], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0009-0006-0086-2470'
        ],
        [
            name: 'Johan Dahlberg',
            affiliation: 'Pixelgen Technologies AB',
            email: 'johan.dahlberg@pixelgen.com',
            github: '@johandahlberg',
            contribution: ["contributor"], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0001-6962-1460'
        ],
        [
            name: 'Alvaro Martinez Barrio',
            affiliation: 'Pixelgen Technologies AB',
            email: 'alvaro.martinez.barrio@pixelgen.com',
            github: '@ambarrio',
            contribution: ["contributor"], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0001-5064-2093'
        ],
    ]

    homePage        = 'https://github.com/nf-core/pixelator'
    description     = """Pipeline for analysis of Molecular Pixelation assays"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '1.4.0'
    doi             = '10.1101/2023.06.05.543770'
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.1.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
        command = "nextflow run nf-core/pixelator -profile <docker/singularity/.../institute> --input samplesheet.csv --outdir <OUTDIR>"
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
        beforeText = """
-\033[2m----------------------------------------------------\033[0m-
                                        \033[0;32m,--.\033[0;30m/\033[0;32m,-.\033[0m
\033[0;34m        ___     __   __   __   ___     \033[0;32m/,-._.--~\'\033[0m
\033[0;34m  |\\ | |__  __ /  ` /  \\ |__) |__         \033[0;33m}  {\033[0m
\033[0;34m  | \\| |       \\__, \\__/ |  \\ |___     \033[0;32m\\`-._,-`-,\033[0m
                                        \033[0;32m`._,._,\'\033[0m
\033[0;35m  nf-core/pixelator ${manifest.version}\033[0m
-\033[2m----------------------------------------------------\033[0m-
"""
        afterText = """${manifest.doi ? "\n* The pipeline\n" : ""}${manifest.doi.tokenize(",").collect { "    https://doi.org/${it.trim().replace('https://doi.org/','')}"}.join("\n")}${manifest.doi ? "\n" : ""}
* The nf-core framework
    https://doi.org/10.1038/s41587-020-0439-x

* Software dependencies
    https://github.com/nf-core/pixelator/blob/master/CITATIONS.md
"""
    }
    summary {
        beforeText = validation.help.beforeText
        afterText = validation.help.afterText
    }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
