/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/pixelator Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Load default parameters

// Global default params, used in configs
params {
    // Input options
    input            = null

    // Preqc options
    trim_front = 0
    trim_tail = 0
    max_length = null
    min_length = null
    max_n_bases = 0
    avg_qual = 20
    dedup = false
    remove_polyg = false

    // adapterqc options
    adapterqc_mismatches = 0.1
    pbs1 = null
    pbs2 = null

    //demux options
    demux_mismatches = 0.1
    demux_min_length = null
    anchored = true
    rev_complement = false

    //collapse options
    algorithm = 'adjacency'
    upia_start = null
    upia_end = null
    upib_start = null
    upib_end = null
    umia_start = null
    umia_end = null
    umib_start = null
    umib_end = null
    neighbours = 60
    collapse_mismatches = 2
    collapse_min_count = 2
    use_counts = false

    // cluster options
    multiplet_recovery = 'leiden'
    fast_greedy_fraction = 0.5
    fast_greedy_cutoff = 5000
    leiden_iterations = 10
    cluster_min_count = 2

    // annotate options
    min_size = null
    max_size = null
    dynamic_filter = 'min'
    cell_type_assignments = false
    majority_vote = false
    aggregate_calling = true

    // analysis options
    compute_polarization = true
    compute_colocalization = true
    use_full_bipartite = false
    normalization = 'clr'
    binarization = false

    // skip options
    skip_report   = false
    skip_analysis = false

    // report options
    report_name = "report"

    // Boilerplate options
    outdir                     = './results'
    publish_dir_mode           = 'copy'
    tracedir                   = "${params.outdir}/pipeline_info"
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes,awscli,awsregion,awsqueue,project_name'
    max_multiqc_email_size     = "8.MB"

    // Config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null


    // General options
    pixelator_tag = "pr-421"
    pixelator_container_source = "ghcr"
    pixelator_container = null

    // Testdata options
    testdata_root              = "../nf-core-pixelator-datasets"

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load nf-core custom profiles from different Institutions
try {
    includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
    System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

// Load nf-core/pixelator custom profiles from different institutions.
// Warning: Uncomment only if a pipeline-specific instititutional config already exists on nf-core/configs!
// try {
//   includeConfig "${params.custom_config_base}/pipeline/pixelator.config"
// } catch (Exception e) {
//   System.err.println("WARNING: Could not load nf-core/config/pixelator profiles: ${params.custom_config_base}/pipeline/pixelator.config")
// }


includeConfig 'conf/profiles.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'nf-core/pixelator'
    author          = 'Pixelgen Technologies AB'
    homePage        = 'https://github.com/PixelgenTechnologies/nf-core-pixelator'
    description     = 'Pipeline for analysis of Molecular Pixelation assays'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.8'
    version         = '0.10.0'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
