config {
    // Location of nf-tests
    testsDir "."

    // nf-test directory used to create temporary files for each test
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"

    // Location of an optional nextflow.config file specific for executing pipeline tests
    configFile "tests/nextflow.config"

    // run all test with defined profile(s) from the main nextflow.config
    profile "test_scsp_v1_immunology_v1"
    triggers 'nextflow.config', 'nf-test.config', 'conf/test.config', 'conf/test_full.config'

    // load the necessary plugins
    plugins {
        load "nft-utils@0.0.3"
        load "nft-fasta@1.0.0"
        load "nft-compress@0.1.0"
    }
}
