includeConfig "../../../config/nextflow.config"


process {
    withName: PIXELATOR_ANNOTATE {
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: "${params.publish_dir_mode}"
        ]
        ext.args = [
            "--min-size 5",
            "--max-size 1000",
        ].join(' ').trim()
    }
}
