/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // pipelines_testdata_base_path points to a specific commit on the pixelator branch of the nf-core/test-datasets repo
    pipelines_testdata_base_path = System.getenv('NFT_TESTDATA_BASE_PATH') ?: "https://raw.githubusercontent.com/nf-core/test-datasets/046ef65a5f894d7d998b81cdf9dca6c23e6a6bbb/"
    modules_testdata_base_path   = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/"
    outdir                       = 'results'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
