/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    // Default should point to a specific commit on github.com/nf-core/test-datasets, branch pixelator
    pipelines_testdata_base_path = System.getenv('NFT_TESTDATA_BASE_PATH') ?: "https://raw.githubusercontent.com/nf-core/test-datasets/e8950f260973a6778e2ff24988e12fd4474d60e1/"
    modules_testdata_base_path   = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/"
    outdir                       = 'results'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
