/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

// Include testdata base path, resource allocations and process configuration
includeConfig '../conf/test.config'

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

params.outdir                       = 'results'
params.modules_testdata_base_path   = params.modules_testdata_base_path
params.pipelines_testdata_base_path = params.pipelines_testdata_base_path


validation {
    ignoreParams = ['modules_testdata_base_path', 'pipelines_testdata_base_path']
}

// Impose same minimum Nextflow version as the pipeline for testing
manifest {
    nextflowVersion = '!>=23.10.4'
}

// Disable all Nextflow reporting options
timeline {
    enabled = false
}
report {
    enabled = false
}
trace {
    enabled = false
}
dag {
    enabled = false
}
