/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/pixelator -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {

    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 4
    max_memory = '12.GB'
    max_time   = '6.h'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input  = "${params.testdata_root}/testdata/aws/micro_test_samplesheet.csv"

    collapse_mismatches = 1
    cluster_min_count = 1
    min_size = 5
    max_size = 1000
    max_size_recover = 1000
    big_clusters_recover = true
    compute_polarization = true
    compute_colocalization = false
    compute_coabundance = true
    use_full_bipartite = true
}

aws.region = 'eu-north-1'
aws.batch.cliPath = '/home/ec2-user/micromamba/bin/aws'

// Here we used as and work directory for intermediate files the S3 bucket
workDir = 's3://pixelgen-nf-work/work'

params.run_name = "manual-testrun"
params.outdir = "s3://pixelgen-nf-output/testruns/$params.run_name"
params.pixelator_tag = '0.5.0'
params.pixelator_container_source = 'aws-ecr'

timeline {
    overwrite = true
}
report {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}


process {
    executor = "awsbatch"
    queue = "nf-batch-spot"
}
