//Nextflow config file for running on AWS batch
params {
    config_profile_description = 'AWS Batch Cloud Profile for pixelgen'
    config_profile_contact = 'Florian De Temmerman (@fbdtemme)'
    config_profile_url = 'https://aws.amazon.com/batch/'

    awsqueue = "nf-batch-spot"
    awsregion = 'eu-north-1'
    awscli = '/home/ec2-user/micromamba/bin/aws'
}

timeline {
    overwrite = true
}
report {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}

// Work directory for intermediate files the S3 bucket
workDir = 's3://pixelgen-nf-work/work'
params.pixelator_tag = '0.5.0'
params.pixelator_container_source = 'aws-ecr'

process.executor = 'awsbatch'
process.queue = params.awsqueue
aws.region = params.awsregion
aws.batch.cliPath = params.awscli
