/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Base Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Base configuration common to all test profiles
----------------------------------------------------------------------------------------
*/


// Base directory for nf-core/modules test data
params.modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
params.pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/pixelator/'

process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }

    // Run a smaller experiment summary for testing
    withName: EXPERIMENT_SUMMARY {
        ext.args = '-P test_mode="TRUE"'
    }
}
