process {
    // Keep process sizing overrides here for larger (8k cell) runs.

    withName: PIXELATOR_AMPLICON {
        cpus   = { 32     * task.attempt }
        memory = { 32.GB * task.attempt }
        time   = { 40.h   * task.attempt }
    }

    withName: PIXELATOR_DEMUX {
        cpus   = { 16     * task.attempt }
        memory = { 128.GB * task.attempt }
        time   = { 12.h   * task.attempt }
    }

    withName: PIXELATOR_COLLAPSE {
        cpus          = { 8 * task.attempt    }
        memory        = { 256.GB * task.attempt }
        time          = { 8.h   * task.attempt }
        maxRetries    = 4
        errorStrategy = { task.exitStatus in ((130..145) + 104 + (175..177) + 1) ? 'retry' : 'finish' }
    }

    withName: PIXELATOR_COMBINE_COLLAPSE {
        cpus       = { 8 * task.attempt }
        memory     = { 512.GB * task.attempt }
        time       = { 6.h * task.attempt }
        maxRetries = 4
        errorStrategy = { task.exitStatus in ((130..145) + 104 + (175..177) + 1) ? 'retry' : 'finish' }
    }

    withName: PIXELATOR_GRAPH {
        cpus   = { 12 * task.attempt }
        memory = { 512.GB * task.attempt }
        time   = { 20.h * task.attempt }
    }

    withName: PIXELATOR_DENOSIE {
        cpus   = { 12 * task.attempt }
        memory = { 256.GB * task.attempt }
        time   = { 12.h * task.attempt }
    }

    withName: EXPERIMENT_SUMMARY {
        cpus   = { 16    * task.attempt }
        memory = { 64.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
}
