env {
    MPLCONFIGDIR               = '/tmp/.config/matplotlib'
    NUMBA_CACHE_DIR            = "/tmp/.numba_cache"

    // quarto needs a writeable cache directory
    XDG_CACHE_HOME             = "/tmp/.cache"
    XDG_DATA_HOME              = "/tmp/.data"

    // DuckDB temp directory when running in containers
    PIXELATOR_DUCKDB_TEMP_DIR = "/tmp"
}
