env {
    MPLCONFIGDIR               = '${TMPDIR:-/tmp}/.config/matplotlib'
    NUMBA_CACHE_DIR            = '${TMPDIR:-/tmp}/.numba_cache'

    // quarto needs a writeable cache directory
    XDG_CACHE_HOME             = '${TMPDIR:-/tmp}/.cache'
    XDG_DATA_HOME              = '${TMPDIR:-/tmp}/.data'

    // DuckDB temp directory when running in containers
    PIXELATOR_DUCKDB_TEMP_DIR = '${TMPDIR:-/tmp}'
}
