/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    publishDir = [
        path: { "${params.outdir}/pixelator" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: "PIXELATOR.*" {
        publishDir = [
            [
                path: { "${params.outdir}/pixelator" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> (filename.endsWith('.log') || filename.equals('versions.yml')) ? null : filename }
            ],
            [
                path: { "${params.outdir}/pixelator/logs" },
                mode: params.publish_dir_mode,
                pattern: '*.log'
            ]
        ]

        if (params.pixelator_container) {
            container = params.pixelator_container
        }
    }

    withName: PIXELATOR_LIST_OPTIONS {
        publishDir = [ enabled: false ]
    }

    withName: "CAT_FASTQ" {
        publishDir = [ enabled: false ]
    }

    withName: "EXPERIMENT_SUMMARY" {
        if (params.experiment_summary_container) {
            container = params.experiment_summary_container
        }
    }
}
