
// Global default params, used in configs
params {
    mode = "main"
    // Input options
    input            = null

    // Preqc options
    trim_front = 0
    trim_tail = 0
    max_length = null
    min_length = null
    max_n_bases = 3
    avg_qual = 20
    dedup = false
    remove_polyg = false

    // adapterqc options
    adapterqc_mismatches = 0.1
    pbs1 = null
    pbs2 = null

    //demux options
    demux_mismatches = 0.1
    demux_min_length = null
    anchored = false
    rev_complement = false

    //collapse options
    algorithm = 'adjacency'
    upi1_start = null
    upi1_end = null
    upi2_start = null
    upi2_end = null
    umi1_start = null
    umi1_end = null
    umi2_start = null
    umi2_end = null
    neighbours = 60
    collapse_mismatches = 2
    collapse_min_count = 1
    use_counts = false

    // cluster options
    multiplet_recovery = null
    fast_greedy_fraction = 0.5
    fast_greedy_cutoff = 5000
    leiden_iterations = 10
    cluster_min_count = 2

    // annotate options
    min_size = null
    max_size = null
    dynamic_filter = null
    cell_type_assignments = false
    majority_vote = false
    aggregate_calling = false

    // analysis options
    compute_polarization = false
    compute_colocalization = false
    compute_coabundance = false
    use_full_bipartite = false
    normalization = null
    binarization = false

    // report options
    report_name = "report"

    // Boilerplate options
    outdir                     = './results'
    publish_dir_mode           = 'copy'
    tracedir                   = "${params.outdir}/pipeline_info"
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes,awscli,awsregion,awsqueue,project_name'
    max_multiqc_email_size     = "8.MB"

    // Config options
    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_description = null
    config_profile_contact     = null
    config_profile_url         = null
    config_profile_name        = null


    // General options
    pixelator_tag = "0.10.0"
    pixelator_container_source = "ghcr"
    pixelator_container = null

    // Testdata options
    testdata_root              = "../nf-core-pixelator-datasets"

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}
