/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    for the pna pipline

    Use as follows:
        nextflow run nf-core/pixelator -profile test_proxiome_v2,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name                    = 'Test profile for proxiome v2 data'
    config_profile_description             = 'Minimal test dataset to check pipeline function'

    // Input data
    input                                  = params.pipelines_testdata_base_path + '/new-test-data/samplesheet/pna/samplesheet_proxiome_v2.csv'
    input_basedir                          = params.pipelines_testdata_base_path + '/new-test-data/pna'

    // Synthetic data was generated to pass with the test with lower than default resolution
    pna_graph_refinement_stage_leiden_resolution = 0.01
    pna_graph_component_size_min_threshold       = 100

    // Synthetic nf-core test datasets include components too small for
    // coarsened_pmds_3d. Keep wpmds_3d in test profiles.
    pna_layout_layout_algorithm            = "wpmds_3d"

    skip_layout                            = false
    technology                             = "proxiome-v2"
    save_all                               = true
}

process {
    withName: '.*' {
        cpus   = 2
        memory = 3.GB
        time   = 2.h
    }

    // Run a smaller experiment summary for testing
    withName: EXPERIMENT_SUMMARY {
        ext.args = '--profile ci -P test_mode="TRUE"'
    }
}
