/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    for the pna pipline

    Use as follows:
        nextflow run nf-core/pixelator -profile test_pna,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h',
    ]

    // Run a smaller experiment summary for testing
    withName: EXPERIMENT_SUMMARY {
        ext.args = '-P test_mode="TRUE"'
    }
}

params {
    config_profile_name                    = 'Test profile'
    config_profile_description             = 'Minimal test dataset to check pipeline function'

    // Input data
    input                                  = params.pipelines_testdata_base_path + '/samplesheet/pna/samplesheet_pna.csv'
    input_basedir                          = params.pipelines_testdata_base_path + '/testdata/pna'

    pna_graph_component_size_min_threshold = 100

    skip_layout                            = false
}
