/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    using the v2 panel.

    Use as follows:
        nextflow run nf-core/pixelator -profile test_panel_v2,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/


aws.client.downloadParallel = true

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input          = params.pipelines_testdata_base_path + 'samplesheet/samplesheet_v2.csv'
    input_basedir  = params.pipelines_testdata_base_path + ''

    multiplet_recovery                = true
    min_size                          = 1
    max_size                          = 100000
    dynamic_filter                    = null
    compute_polarization              = true
    use_full_bipartite                = true
    colocalization_min_region_count   = 0
    colocalization_n_permutations     = 10
    colocalization_neighbourhood_size = 1

    // For now skip the layout step since it is very slow on these
    // small test datasets
    skip_layout      = false
    // using this since the default pmds_3d does not work on very small graphs
    layout_algorithm = "fruchterman_reingold_3d"
}
