params {
    outdir = "output/"
    publish_dir_mode = "copy"
    conda.enabled = false
    singularity_pull_docker_container = false
}

process {
    cpus = 2
    memory = 3.GB
    time = 2.h
}

profile = "${PROFILE}"

if (profile == "local") {
    executor.name          = 'local'
    conda.enabled          = false
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
}
if (profile == "singularity") {
    conda.enabled          = true
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
}
if (profile == "docker") {
    docker.enabled         = true
    docker.userEmulation   = true
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    runOptions             = '-u $(id -u):$(id -g)'
    fixOwnership           = true
    params.pixelator_tag   = null
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

// Load test_data.config containing paths to test data
includeConfig 'test_data.config'

manifest {
    nextflowVersion = '!>=21.10.0'
}
