// Base directory for test data
// TODO: Update to github URL
def test_data_dir = "${params.test_data_root}"

params {
    test_data {
        pixelator {
            micro {
                result_dirs {
                    adapterqc = "${test_data_dir}/micro/adapterqc"
                    cluster = "${test_data_dir}/micro/cluster/test_data"
                    collapse = "${test_data_dir}/micro/collapse"
                    concatenate = "${test_data_dir}/micro/concatenate"
                    demux = "${test_data_dir}/micro/demux"
                    preqc = "${test_data_dir}/micro/preqc"
                }
                root = "${test_data_dir}/test_data"
                id = "test_data"
                R1 = "${test_data_dir}/micro/test_data_R1.fastq.gz"
                R2 = "${test_data_dir}/micro/test_data_R2.fastq.gz"
                concat = "${test_data_dir}/micro/concatenate/test_data.merged.fastq.gz"
                adapterqc = "${test_data_dir}/micro/adapterqc/test_data.processed.fastq.gz"
                demux = [
                    "${test_data_dir}/micro/demux/test_data.processed-CD3.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD4.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD7.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD8.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD14.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD19.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD20.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD26.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD45.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD45RA.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD45RO.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD62L.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD63.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD69.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD70.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD72.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD82.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-CD162.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-hashtag.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-HLA-DR.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-IgG1ctrl.fastq.gz",
                    "${test_data_dir}/micro/demux/test_data.processed-IsoT_ctrl.fastq.gz",
                ]
                collapsed = "${test_data_dir}/micro/collapse/test_data.collapsed.csv"
                cluster = "${test_data_dir}/micro/cluster"
            }
        }
    }
}
