// Base directory for test data
def test_data_dir = "/home/fbdtemme/Documents/pixelgen/nf-core-pixelator-testdata"

params {
    test_data {
        pixelator {
            reads_test_data {
                id = "test_data"
                R1 = "${test_data_dir}/test_data/test_data_R1.fastq.gz"
                R2 = "${test_data_dir}/test_data/test_data_R2.fastq.gz"
                concat = "${test_data_dir}/test_data/concatenate/test_data.fastq.gz"
                adapterqc = "${test_data_dir}/test_data/adapterqc/test_data.processed.fastq.gz"
            }
        }
    }
}
