includeConfig "../../../config/nextflow.config"

process {
    withName: PIXELATOR_CLUSTER {
        publishDir = [
            path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
            mode: "${params.publish_dir_mode}"
        ]
        ext.args = [
            "--min-size 5",
            "--max-size 10000",
            "--max-size-recover 1000",
            "--big-clusters-recover",
            "--min-count 1",
            "--compute-polarization",
            "--compute-colocalization",
            "--compute-coabundance",
        ].join(' ').trim()
    }
}
