# Parameters

## On this page

{% for group in schema["definitions"].values() -%}
- {{ loop.index }}. [{{group.title}}](#{{group.title | slugify }})
{% endfor %}


## Parameters

{% for group in schema["definitions"].values() -%}
<a name="{{group.title | slugify }}"/>
{% if group.fa_icon %}
    {%- set icon_name = group.fa_icon.removeprefix('fas ').strip().replace('fa-', '') -%}
## <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/{{icon_name}}.svg" width=32 height=32 />    {{group.title}}
{% else %}
## {{group.title}}
{% endif %}


{{ group.description }}

{%- for (param_name, param_data) in group["properties"].items() -%}

{% if param_data.fa_icon -%}
    {%- set icon_name = param_data.fa_icon.removeprefix('fas ').strip().replace('fa-', '') -%}
### <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/master/svgs/solid/{{icon_name}}.svg" width=16 height=16 /> `--{{param_name}}`
{% else -%}
### `--{{param_name}}`
{% endif %}

**Type:** {% if param_data.type %}{{param_data.type}}{% else %}enum{% endif %}
{% if param_data.enum -%}
    **Options:** [{{'|'.join(param_data.enum) }}]
{% endif %}
{%- if param_data.default -%}
    **Default:** {{ param_data.default }}
{% endif %}
{{param_data.description}}
{% if param_data.help_text -%}
{{ param_data.help_text}}
{% endif -%}

{% if loop.index != (group["properties"] | length) %}
---
{% endif %}

{% endfor -%}
{% endfor -%}
